.col-centered {
  float: none;
  margin: 0 auto;
}

body, html {
  height: 100%;
}

.fullscreen {
  height: 100%;
}

.pdf {
  height: 60%;
}

.intro {
  animation: fadeIn;
  animation-duration: 4s;
}

.intro2 {
  animation: fadeIn;
  animation-duration: 4s;
}

@keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}