.col-centered {
  float: none;
  margin: 0 auto;
}

*{
  box-sizing: border-box;
  margin: 0;
  padding: 0
}

body, html {
  min-height: 100vh;
}


.fullscreen {
  min-height: 100vh;
}

.pdf {
  height: 60%;
}

.intro {
  animation: fadeIn;
  animation-duration: 4s;
}

.intro2 {
  animation: fadeIn;
  animation-duration: 4s;
}

@keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}