.col-centered {
  float: none;
  margin: 0 auto;
}

*{
  box-sizing: border-box;
  margin: 0;
  padding: 0
}

body, html {
  min-height: 100vh;
}

body{
  background-color: rgb(250, 251, 252);
}

.fullscreen {
  min-height: 100vh;
}

.pdf {
  height: 60%;
}

.intro {
  animation: fadeIn;
  animation-duration: 1s;
}

.mw-50{
  max-width: 50%;
}

@keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}

.dark-hover {
  filter: brightness(100%);
  transition: 0.3s;
}
.dark-hover:hover {
  filter: brightness(50%);
}